<div class="blog-container sec-padding" >
  <div class="container">
      <div class="section-title">
          <h3><br>Latest Marvel's News</h3>
       </div>
       <div class="blog-wrapper" fxLayout="column" fxLayout.gt-sm="column">
          <div class="blog" *ngFor="let n of news" fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100" fxLayout="column">
              <div class="info" >
                  <div class="text-box" fxLayout="column" >
                          <h4>{{ n.title}}</h4>
                     <p>{{n.description}}</p>
              <a href="{{n.url}}">See More</a>
                  </div>
              </div>
          </div>
       </div>

  </div>

    </div>

