<div class="container" id="mainDIV" >
  <div class="main-details-wrap">


    <div class="details-wrapper sec-padding" *ngIf="product" fxLayoutAlign="center">
       <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="80">
          <div fxLayout="row wrap" fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
              <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="45">
                  <mat-card class="product-image">
                    <div>
                       <button mat-icon-button  fxHide="false" fxHide.gt-md>
                          <mat-icon>fullscreen</mat-icon>
                       </button>
                       <img [src]="getImg(comic.images[0].path,comic.images[0].extension)"/>
                    </div>
                    <a (click)="openProductDialog(fullImgPath)"><mat-icon>zoom_in</mat-icon></a>
                 </mat-card>
               </div>
               <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="55" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">

                  <div class="product-right">
                     <div class="product-details">
                        <h2>{{comic.title}}</h2>
                        <h3 class="price">{{comic.prices[0].price | currency:productsService?.currency:'symbol'}}</h3>
                        <p class="text-muted description">{{comic.description}}</p>
                     </div>
                     <div class="py-1 mt-15 mb-15">
                     </div>
                     <div class="quantity mb-15">
                     </div>

                  </div>
               </div>
          </div>

          <div class="review-wrapper" fxFlex="100"  fxFlex.md="75">

               <mat-tab-group [@.disabled]="true" [selectedIndex]="0">
               <mat-tab label="Characters">
                  <div fxLayout="row wrap" class="products-wrapper">
                  <div *ngIf="characters.length == 0" fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="col">
                     <div class="product-box">
                        <div class="product-item" >
                           <mat-card fxLayout="column">
                              <div class="product-info-wrapper">
                                 <div class="title-wrap" fxLayoutAlign="center">
                                    <h4>No Character(s) Available</h4>
                                 </div>
                              </div>
                           </mat-card>
                         </div>
                     </div>
                  </div>
                  <div *ngFor="let character of characters" fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="col">
                     <div class="product-box">
                        <div class="product-item" >
                           <a routerLink="/character/{{character.id}}">
                           <mat-card fxLayout="column">
                             <div class="product-img">
                                   <img [src]="getImg(character.thumbnail.path,character.thumbnail.extension)" alt="">
                             </div>
                              <div class="product-info-wrapper">
                                 <div class="title-wrap" fxLayoutAlign="center">
                                    <h4>{{character.name}}</h4>
                                 </div>
                              </div>
                           </mat-card>
                           </a>
                         </div>
                     </div>
                  </div>
                  </div>
               </mat-tab>
               <mat-tab label="Creators">
                  <div fxLayout="row wrap" class="products-wrapper">
                     <div *ngIf="creators.length == 0" fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="col">
                        <div class="product-box">
                           <div class="product-item" >
                              <mat-card fxLayout="column">
                                 <div class="product-info-wrapper">
                                    <div class="title-wrap" fxLayoutAlign="center">
                                       <h4>No Creator(s) Available</h4>
                                    </div>
                                 </div>
                              </mat-card>
                            </div>
                        </div>
                     </div>
                     <div *ngFor="let creator of creators" fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="col">
                        <div class="product-box">
                           <div class="product-item" >
                              <a routerLink="/creator/{{creator.id}}">
                              <mat-card fxLayout="column">
                                <div class="product-img">
                                      <img [src]="getImg(creator.thumbnail.path,creator.thumbnail.extension)" alt="">
                                </div>
                                 <div class="product-info-wrapper">
                                    <div class="title-wrap" fxLayoutAlign="center">
                                       <h4>{{creator.fullName}}</h4>
                                    </div>
                                    <div class="written-wrap" fxLayoutAlign="center">
                                     <span>{{ getRole(creator.fullName) }}</span>
                                    </div>
                                 </div>
                              </mat-card>
                              </a>
                            </div>
                        </div>
                     </div>
                     </div>
               </mat-tab>
               </mat-tab-group>
               <br><br>
               <h4>Suggested Comics</h4>
               <div fxLayout="row wrap" class="products-wrapper">
                  <div *ngFor="let suggested of suggestedComics" fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="col">
                     <div class="product-box">
                        <div class="product-item" >
                           <a routerLink="/comic/{{suggested.id}}">
                           <mat-card fxLayout="column">
                             <div class="product-img">
                                   <img [src]="getImg(suggested.thumbnail.path,suggested.thumbnail.extension)" alt="">
                             </div>
                              <div class="product-info-wrapper">
                                 <div class="title-wrap" fxLayoutAlign="center">
                                    <h4>{{suggested.title}}</h4>
                                 </div>
                                 <div class="written-wrap" fxLayout="row" fxLayoutAlign="center">
                                    <span>Written by: {{ suggested.creators.writer }}</span>
                                   </div>
                                   <div class="cover-wrap" fxLayout="row" fxLayoutAlign="center">
                                    <span>Cover by: {{ suggested.creators.cover }}</span>
                                   </div>
                                   <div class="price-wrap" fxLayout="row" fxLayoutAlign="center">
                                    <p>Price: ${{suggested.prices[0].price | number : '1.2-2'}}</p>
                                   </div>
                              </div>
                           </mat-card>
                           </a>
                         </div>
                     </div>
                  </div>
                  </div>

         </div>





       </div>

    </div>
  </div>
</div>




