<footer class="footer sec-padding">
  <div class="container">
      <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div class="logo-footer marvel-logo-div">
          <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="marvel marvel-logo-text">MARVELOUS SITE</a>
      </div>
        <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" class="footer-widget about-widget">
        </div>


          <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
            <div class="title">
              <h5>&nbsp;</h5>
            </div>
            <div fxLayout="row" class="tel-box">
              <p>Develop By: </p>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-envelope"></i></div>
              <div class="text">
                <p><a href="mailto:evivas.86@gmail.com">evivas.86@gmail.com</a></p>
              </div>
            </div>
          </div>






      </div>
  </div>
</footer>
