<mat-toolbar-row fxHide fxShow.gt-sm class="container" fxLayout="row"  fxLayout.xs="row" fxLayoutAlign="space-between center">
  <div class="main-menu" fxLayout="row" fxHide fxShow.gt-sm>
      <a  mat-button class="mat-button" routerLinkActive="router-link-active"  [routerLink]="['/home']">HOME</a>
      <a  mat-button class="mat-button" routerLinkActive="router-link-active"  [routerLink]="['/comic']">COMICS</a>
      <a  mat-button class="mat-button" routerLinkActive="router-link-active"  [routerLink]="['/character']">CHARACTERS</a>
      <a  mat-button class="mat-button" routerLinkActive="router-link-active"  [routerLink]="['/creator']">CREATORS</a>
      <a  mat-button class="mat-button" routerLinkActive="router-link-active"  [routerLink]="['/serie']">SERIES</a>
    </div>
</mat-toolbar-row>

